.jcc-header{
	display: block;
	width: 100%;
	height: 55px;
	float: left;
	background: #299adb;
	position: fixed;
	left: 0px;
	top: 0px;
	box-shadow: 0px 1px 10px #187CB6;
	-webkit-box-shadow: 0px 1px 10px #187CB6; 
	-moz-box-shadow: 0px 1px 10px #187CB6;
	border-collapse:separate !important;
}

.jcc-header-nav{
	display: block;
	width: 1120px;
	height: 55px;
	margin: 0 auto;
}

.jcc-header-nav-logo{
	display: block;
	min-width: 0px;
	height: 55px;
	line-height: 55px;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
	font-size: 18px;
	color: #FFFFFF;
}



.jcc-header-nav-item{
	display: block;
	height: 55px;
	min-width: 0px;
	float: left;
}

.jcc-header-nav-item li{
	display: block;
	height: 55px;
	min-width: 0px;
	float: left;
}

.jcc-header-nav-item li a{
	display: block;
	min-width: 0px;
	height: 55px;
	line-height: 55px;
	padding-left: 18px;
	padding-right: 18px;
	font-size: 14px;
	color: #FFFFFF;
	float: left;
}

.jcc-header-nav-item li a:hover{
	background: #187cb6;
}

.jcc-header-nav-item li a.jcc-active{
	background: #187cb6;
}

.jcc-body{
	width: 100%;
	min-height: 540px;
	background: url(../img/ico/grid.png);
	float: left;
	padding-bottom: 80px;
}

.jcc-body-banner{
	display: block;
	width: 100%;
	height: 540px;
	float: left;
	margin-top: 55px;
	background: rgba(0,0,0,0.8);
	overflow: hidden;
}

.jcc-body-logo{
	display: block;
	width: 1120px;
	height: 540px;
	padding: 0px;
	margin: 0 auto;
	background: url(../img/other/slider-1.jpg) no-repeat center;
}

.jcc-body-rgba{
	display: block;
	width: 1120px;
	height: 540px;
	padding: 0px;
	float: left;
	background: rgba(0,0,0,0.3);
}

#jcc-body-banner-title{
	display: block;
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	color: #FFFFFF;
	margin-top: 100px;
	float: left;
	text-transform: uppercase;
}

#jcc-body-banner-describe{
	display: block;
	width: 100%;
	min-height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 30px;
	float: left;
	color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 10px;
	text-transform: uppercase;
}

#jcc-body-banner-time{
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
	margin-top: 10px;
	float: left;
	text-transform: uppercase;
}

#jcc-body-info{
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
	float: left;
	text-transform: uppercase;
}

#jcc-body-info a{
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: underline;
}

#jcc-body-info a:hover{
	color: #CCCCCC;
}


#jcc-body-banner-button{
	display: block;
	width: 100%;
	height: 62px;
	margin-top: 30px;
	float: left;
}


#jcc-body-banner-button span{
	display: block;
	width: 504px;
	margin: 0 auto;
}

.jcc-body-banner-button-left{
	display: block;
	width: 225px;
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	color: #FFFFFF;
	background: #299ADB;
	border-radius: 3px;
	float: left;
	text-align: center;
	border: 1px solid #187CB6;
	margin-right: 50px;
	text-transform: uppercase;
}

.jcc-body-banner-button-left:hover{
	background: #187CB6;
}

.jcc-body-banner-button-left img{
	display: block;
	width: 25px;
	width: 25px;
	float: left;
	margin-top: 15px;
	margin-left: 12px;
}

.jcc-body-banner-button-right{
	display: block;
	width: 225px;
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	color: #333333;
	text-align: center;
	background: #FFFFFF;
	border-radius: 3px;
	float: left;
	border: 1px solid #DDDDDD;
	text-transform: uppercase;
}

.jcc-body-banner-button-right:hover{
	background: #DDDDDD;
	border: 1px solid #DDDDDD;
}


.jcc-body-banner-button-right img{
	display: block;
	width: 29px;
	width: 29px;
	float: left;
	margin-top: 13px;
	margin-left: 22px;
}



#jcc-body-banner-link{
	display: block;
	width: 100%;
	height: 30px;
	margin-top: 30px;
}

#jcc-body-banner-link code{
	display: block;
	width: 240px;
	height: 30px;
	line-height: 30px;
	float: left;
	margin-top: 10px;
	margin-left: 375px;
	font-size: 16px;
	text-align: center;
	color: #666666;
}

#jcc-body-banner-link img{
	display: block;
	height: 30px;
	float: left;
	margin-top: 10px;
}




.jcc-footer{
	display: block;
	width: 100%;
	height: 100px;
	float: left;
	background: #FFFFFF;
	margin-top: 10px;
}

.jcc-footer-info{
	display: block;
	width: 94%;
	height: 75px;
	padding-top: 25px;
	margin: 0 auto;
	border-top:1px solid #DDDDDD;
	text-align: center;
}

.jcc-footer-info a{
	color: #299ADB;
	font-size: 12px;
}

.jcc-footer-info p{
	display: block;
	float: left;
	height: 30px;
	width: 100%;
	font-size: 12px;
	margin-top: 5px;
	color: #666666;
}
